HumidTrigger:
  module: i1_humid_trigger
  class: HumidTrigger 
  sensors:
    humidity: "sensor.room_humid" 
    temperature: "sensor.room_temp"
  switches:
    - entity: "switch.room_switch"
      min_temp: 10
      lt: 
        state: "off"
        value: 55
      gt: 
        state: "on"
        value: 60


